<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <!-- 반응형 뷰포트 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="pricing.css" th:href="@{/css/pricing.css}" rel="stylesheet">

    <title>게시물 작성</title>
</head>

<body>
    <!-- 상단바 -->
    <div th:fragment="menu">
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
            <h5 class="my-0 mr-md-auto font-weight-normal">Jolly Shop</h5>
            <nav class="my-2 my-md-0 mr-md-3">
                <a class="p-2 text-dark" href="/">home</a>
                <a class="p-2 text-dark" href="/shop/items">shop</a>
            </nav>
            <a class="btn btn-outline-info" href="#">Sign up</a>
        </div>
    </div>
</body>

</html>