<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <!-- 반응형 뷰포트 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link th:href="@{/css/account.css}" rel="stylesheet">

    <title>회원 가입</title>
</head>

<body>
    <!-- 상단바 -->
    <div th:replace="fragments/common :: menu"></div>

    <!-- 바디 -->
    <div class="form-login">
        <form th:action method="post">
            <h1 class="h3 mb-4 fw-normal text-center">회원가입</h1>
            <p>회원 정보를 입력해주세요.</p>
            <div>
                <input type="text" class="form-control" placeholder="이름" name="name">
            </div>
            <div>
                <input type="email" class="form-control" placeholder="아이디(이메일)" name="email">
            </div>
            <div>
                <input type="password" class="form-control" placeholder="비밀번호" name="password">
            </div>
            <button class="w-100 btn btn-lg btn-info" type="submit">가입하기</button>
        </form>
    </div>
</body>

</html>
